* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(129, 138, 129);
  color: #333;

}

#desktop {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: grey;
  color: white;
}

.app-icon {
  cursor: pointer;
  width: 60px;
  height: 60px;
}

.app-window {
  display: none;
  overflow: auto;
  width: 400px;
  height: 300px;
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.window-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background: #f0f0f0;
  border-bottom: 1px solid #ccc;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  user-select: none;

}


.close-button,
.minimize-button {
  color: white;
  background-color: red;
  border: none;
  padding: 5px 8px;
  cursor: pointer;
  font-size: 16px;
}

.window-title {
  flex-grow: 1;
  text-align: center;
}

.window-content {
  padding: 10px;
}

.size-btn {
  background-image: linear-gradient(to right, #FF6B6B, #FFD93D);
  color: white;
}

.size-btn:hover {
  background-color: #0056b3;
}

.close-button:hover {
  background-color: #ff0000;
  color: #fff;

}

.memory-game-board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  width: 70%;
  gap: 2px;
  padding-right: 20px;
  padding-left: 20px;
}

.memory-game-container {
  width: 60%;
  background: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}


.memory-card {
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform 0.4s;
  width: 50px;
  height: 50px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
}


.memory-card:focus {
  outline: 3px solid blue;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;

}

.card-front {
  background-size: cover;
  transform: rotateY(180deg);


}

.card-back {
  background-color: #007bff;
}

.memory-card.flipped .card-front {
  transform: rotateY(0deg);
}

.memory-card.flipped .card-back {
  transform: rotateY(-180deg)
}


.chat-messages {
  overflow-y: auto;
  flex-grow: 1;
  padding: 10px;
  margin-bottom: 10px;

}

.chat-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-settings {
  background-color: green;
  border-radius: 5px;
  margin: 10px 0;
  width: 80px;
}

#changeUsernameButton:hover {
  background-color: #666;
}

.wrapper {
  width: 450px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.box {
  padding: 1px 0 1px 0;
  text-align: center;
  border-radius: 10px 10px 0 0;
  margin-top: 50px;
  color: #EAEDC2;
  text-shadow: 1px 1px 3px #000;
  background-color: #828B6C;
}

.main {
  background-color: #F5F5F5;
  color: #828B6C;
  padding: 1px 5px 10px 10px;
}

button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  margin: 10px 0 0;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

.addtasks {
  margin-bottom: 20px;
}

#createtask {
  background-color: #828B6C;
  padding: 5px;
  width: 231px;
  color: #EAEDC2;
  text-align: center;
  cursor: pointer;
}

li * {
  float: left;
}

li,
h3 {
  clear: both;
  list-style: none;
}

input,
button {
  outline: none;
}

label[for='new-task'] {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  text-transform: uppercase;
  display: block;
  margin: 0 0 20px;
}

input[type="text"] {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 18px;
  padding: 10px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

input#new-task {
  float: left;
  width: 318px;
}


li>input[type="text"] {
  width: 226px;
}


input[type="text"]:focus {
  color: #333;
}


p>button:hover {
  color: #0FC57C;
}

li {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

li>input[type="checkbox"] {
  margin: 0 10px;
  position: relative;
  top: 15px;
}

li>label {
  font-size: 18px;
  line-height: 40px;
  width: 237px;
  padding: 0 0 0 11px;
}


li>.delete:hover {
  color: #CF2323;
}

ul li.editMode label {
  display: none;
}

/* Completed */
#taskcomplete label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
ul li input[type=text] {
  display: none;
}

ul li.editMode input[type=text] {
  display: block;
}