<%- include('header') -%>
    <%- include('flashMessage') -%>

        <main>
            <h2>User Profile</h2>
            <p>Welcome, <strong>
                    <%= user.username %>
                </strong>!</p>

        </main>

        <%- include('footer') -%>