.article-content img {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    max-width: 300px;
}

.article-content::after {
    content: "";
    display: table;
    clear: both;
}

.article-content {
    position: relative;
}

.article-content p {
    text-align: justify;
}

.article-content.author-byline {
    border-top: 2px solid black;
    padding-top: 20px;
    text-align: justify;
    margin-top: 20px;
    padding-bottom: 20px;
}

.author-byline img {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 30px;
}