/* cooment in CSS*/
/*Yasine Grace */
@import url("navbar.css");
@import url("header.css");
@import url("footer.css");
@import url("typography.css");
@import url("form.css");
@import url("Col3Page.css");
@import url("page.css");