body {
    font-family: 'Arial', sans-serif;
    color: #332;
    line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Times New Roman', serif;
    color: black;
    text-decoration: none;


}

p {
    font-size: 14px;
    margin: 0;

}

a {
    color: #00e;

}

a:visited {
    color: #551a8b;
}

a:hover {
    color: #06e;
    text-decoration: underline;
}

table {
    border: 2px solid #aaa;
}

tr:hover {
    background-color: limegreen;
}

th {
    border-bottom: 1px solid #333;
}

td {
    border: 1px solid #eee;
}

.pre {
    font-size: 14px;
    counter-reset: line;

}

pre code {
    position: relative;
}

pre code::before {
    content: counter(line);
    counter-increment: line;
    position: absolute;
    left: -2em;
    text-align: right;
    color: #999999;
}